
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!-- about banner -->

<section class="container-fluid px-0" id="about-banner">
</section>

<!-- about banner -->
<!-- about section 2 -->


<section class="container-fluid about-section" id="about-section2">

    <div class="row text-center row1">
        <p class="title m-0 p-0">A Few words about us</p>
    </div>

    <div class="row row2 justify-content-center">
        <div class="line"></div>
        <img class="px-0" id="seprator" src="~/Images/separator.png" alt="">
        <div class="line"></div>
    </div>

    <div class="row row3">
        <div class="container px-2 px-xl-0 text-center">
            <p class="text mx-2 mx-sm-0 my-0">
                We are providers of professional home cleaning services, offering
                hourly based house cleaning options, which mean that you don't have to fret about getting your house
                cleaned anymore. We will handle everything for you, so that you can focus on spending your precious
                time with your family members. <br> <br> We have a number of experienced cleaners to help you make
                cleaning out or shifting your home an easy affair.
            </p>
        </div>
    </div>

</section>


<!-- about section 2 -->
<!-- about section 3 -->

<section class="container-fluid about-section" id="about-section3">

    <div class="row text-center row1">
        <p class="title m-0 p-0">Our Story</p>
    </div>



    <div class="row row2 justify-content-center">
        <div class="line"></div>
        <img class="px-0" id="seprator" src="~/Images/separator.png" alt="">
        <div class="line"></div>
    </div>



    <div class="row row3">
        <div class="container  text-center px-2 px-xl-0">
            <p class="text mx-2 mx-sm-0 my-0">
                A cleaner is a type of industrial or domestic worker who cleans homes or commercial premises for
                payment. Cleaners may specialise in cleaning particular things or places, such as window cleaners.
                Cleaners often work when the people who otherwise occupy the space are not around. They may clean
                offices at night or houses during the workday.
            </p>
        </div>
    </div>

</section>


<!-- about section 3 -->

<partial name="_newLetter2Partial" />
