
@{
    ViewData["Title"] = "Price";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!-- price banner -->

<section class="container-fluid px-0" id="price-banner">

    <!-- <img class="img-fluid" src="Images/price-banner.png" alt=""> -->
</section>

<!-- price banner -->
<!-- section 2 -->
<section class="container-fluid" id="price-section2">

    <div class="row text-center row1">
        <p class="title m-0 p-0">Prices</p>
    </div>

    <div class="row row2 justify-content-center">
        <div class="line"></div>
        <img class="px-0" id="seprator" src="~/Images/separator.png" alt="">
        <div class="line"></div>
    </div>

    <div class="container row3 justify-content-center px-0">
        <div class="subrow1">
            <p class="title-white text-center mb-0">One Time</p>
        </div>
        <div class="subrow2">
            <div class="row div1 mx-0 justify-content-center align-item-end">
                <p class="mb-0 sub-title1 col-auto px-0">€ </p>
                <p class="mb-0 sub-title2 col-auto pe-0"> 18</p>
                <p class="mb-0 sub-title3 col-auto px-0">/hr</p>
            </div>
            <div class="div2">
                <div class="container">
                    <img class="" src="~/Images/forma-6.png" alt="" srcset="" width="24" height="24">
                    <p class="mb-0 price-text d-inline-block" href="">Lower prices</p>
                </div>
                <div class="container">
                    <img class="" src="~/Images/forma-6.png" alt="" srcset="" width="24" height="24">
                    <p class="mb-0 price-text d-inline-block" href="">Easy online & secure payment</p>
                </div>
                <div class="container">
                    <img class="" src="~/Images/forma-6.png" alt="" srcset="" width="24" height="24">
                    <p class="mb-0 price-text d-inline-block" href="">Easy amendment</p>
                </div>
            </div>
        </div>

    </div>

    <div class="container row4 px-0">

        <div class="row text-center subrow1 mx-0">
            <p class="title m-0 p-0">Extra services</p>
        </div>

        <div class="row row2 justify-content-center mx-0">
            <div class="line"></div>
            <img class="px-0" id="seprator" src="~/Images/separator.png" alt="">
            <div class="line"></div>
        </div>

        <div class="row mx-0 text-center subrow3">

            <div class="col py-2 extra-service">
                <div class="services-card">

                    <div class="service-card-img">
                        <img class="" src="~/Images/3.png" alt="">
                    </div>
                    <div class="service-card-body">
                        <p class="service-text mb-0">Inside cabinets</p>
                        <p class="service-text2 mb-0">30 minutes</p>
                    </div>

                </div>
            </div>
            <div class="col py-2 extra-service">
                <div class="services-card">

                    <div class="service-card-img">
                        <img class="" src="~/Images/5.png" alt="">
                    </div>
                    <div class="service-card-body">
                        <p class="service-text mb-0">Inside fridge</p>
                        <p class="service-text2 mb-0">30 minutes</p>
                    </div>

                </div>
            </div>
            <div class="col py-2 extra-service">
                <div class="services-card">

                    <div class="service-card-img">
                        <img class="" src="~/Images/4.png" alt="">
                    </div>
                    <div class="service-card-body">
                        <p class="service-text mb-0">Inside oven</p>
                        <p class="service-text2 mb-0">30 minutes</p>
                    </div>

                </div>
            </div>
            <div class="col py-2 extra-service">
                <div class="services-card">

                    <div class="service-card-img">
                        <img class="" src="~/Images/2.png" alt="">
                    </div>
                    <div class="service-card-body">
                        <p class="service-text mb-0">Laundry wash & dry</p>
                        <p class="service-text2 mb-0">30 minutes</p>
                    </div>

                </div>
            </div>
            <div class="col py-2 extra-service">
                <div class="services-card">

                    <div class="service-card-img">
                        <img class="" src="~/Images/1.png" alt="">
                    </div>
                    <div class="service-card-body">
                        <p class="service-text mb-0">Interior windows </p>
                        <p class="service-text2 mb-0">30 minutes</p>
                    </div>

                </div>
            </div>

        </div>

    </div>

</section>

<!-- section 2 -->
<!-- section 3 -->

<section class="container-fluid" id="price-section3">

    <div class="row text-center row1">
        <p class="title m-0 p-0">What we include in cleaning</p>
    </div>

    <div class="row row2 justify-content-center">
        <div class="line"></div>
        <img class="px-0" id="seprator" src="~/Images/separator.png" alt="">
        <div class="line"></div>
    </div>

    <div class="row row3 justify-content-center mx-0 mb-2 mb-lg-0">

        <div class="col-auto px-0 cards mb-5">

            <div class="container px-0 div1">
                <img class="img-fluid cards-img" src="~/Images/group-18_3.png" alt="">

                <p class="sub-head bold-text">Bedroom and Living Room</p>

                <div class="row px-0 mx-0 mb-2">

                    <div class="col-auto ps-1 img-arrow">

                        <img class="img-fluid" src="~/Images/right-arrow.png" alt="" width="22" height="22">
                    </div>
                    <div class="col-auto px-0">
                        <p class="my-0 normal-text">Included Dust all accessible surfaces</p>

                    </div>

                </div>
                <div class="row px-0 mx-0 mb-2 ">

                    <div class="col-auto ps-1 img-arrow">

                        <img src="~/Images/right-arrow.png" alt="" width="22" height="22">
                    </div>
                    <div class="col-auto px-0">
                        <p class="my-0 normal-text">Wipe down all mirrors and glass fixtures</p>

                    </div>

                </div>
                <div class="row px-0 mx-0 mb-2">

                    <div class="col-auto ps-1 img-arrow">

                        <img src="~/Images/right-arrow.png" alt="" width="22" height="22">
                    </div>
                    <div class="col-auto px-0">
                        <p class="my-0 normal-text">Not Included Clean all floor surfaces</p>

                    </div>

                </div>

                <div class="row px-0 mx-0 mb-2">

                    <div class="col-auto ps-1 img-arrow">

                        <img src="~/Images/right-arrow.png" alt="" width="22" height="22">
                    </div>
                    <div class="col-auto px-0">
                        <p class="my-0 normal-text">Included Take out garbage and recycling</p>

                    </div>

                </div>

                <div class="row px-0 mx-0 mb-2">

                    <div class="col-auto ps-1 img-arrow">

                        <img src="~/Images/right-arrow.png" alt="" width="22" height="22">
                    </div>
                    <div class="col-auto px-0">
                        <p class="my-0 normal-text">Included To clean up</p>

                    </div>

                </div>
                <div class="row px-0 mx-0 mb-2">

                    <div class="col-auto ps-1 img-arrow">

                        <img src="~/Images/right-arrow.png" alt="" width="22" height="22">
                    </div>
                    <div class="col-auto px-0">
                        <p class="my-0 normal-text">Included Make beds</p>

                    </div>

                </div>

            </div>

        </div>


        <div class="col-auto px-0 cards mb-5">

            <div class="container px-0 div1">
                <img class="img-fluid cards-img" src="~/Images/group-18_4.png" alt="">
                <p class="sub-head bold-text">Bathrooms</p>
                <div class="row px-0 mx-0 mb-2">

                    <div class="col-auto ps-1 img-arrow">

                        <img class="img-arrow" src="~/Images/right-arrow.png" alt="" width="22" height="22">
                    </div>
                    <div class="col-auto px-0">
                        <p class="my-0 normal-text">Wash and sanitize the toilet, shower, tub, sink</p>

                    </div>

                </div>
                <div class="row px-0 mx-0 mb-2">

                    <div class="col-auto ps-1 img-arrow">

                        <img class="img-fluid" src="~/Images/right-arrow.png" alt="" width="22" height="22">
                    </div>
                    <div class="col-auto px-0">
                        <p class="my-0 normal-text">Not Included Dust all accessible surfaces</p>

                    </div>

                </div>
                <div class="row px-0 mx-0 mb-2">

                    <div class="col-auto ps-1 img-arrow">

                        <img src="~/Images/right-arrow.png" alt="" width="22" height="22">
                    </div>
                    <div class="col-auto px-0">
                        <p class="my-0 normal-text">Wipe down all mirrors and glass fixture</p>

                    </div>

                </div>
                <div class="row px-0 mx-0 mb-2">

                    <div class="col-auto ps-1 img-arrow">

                        <img src="~/Images/right-arrow.png" alt="" width="22" height="22">
                    </div>
                    <div class="col-auto px-0">
                        <p class="my-0 normal-text">Not Included Clean all floor surfaces</p>

                    </div>

                </div>
                <div class="row px-0 mx-0 mb-2">

                    <div class="col-auto ps-1 img-arrow">

                        <img src="~/Images/right-arrow.png" alt="" width="22" height="22">
                    </div>
                    <div class="col-auto px-0">
                        <p class="my-0 normal-text">Included Take out garbage and recycling</p>

                    </div>

                </div>


            </div>

        </div>

        <div class="col-auto px-0 cards">

            <div class="container px-0 div1">
                <img class="img-fluid cards-img" src="~/Images/group-18_2.png" alt="">
                <p class="sub-head bold-text">Bedroom and Living Room</p>
                <div class="row px-0 mx-0 mb-2">

                    <div class="col-auto ps-1 img-arrow">

                        <img src="~/Images/right-arrow.png" alt="" width="22" height="22">
                    </div>
                    <div class="col-auto px-0">
                        <p class="my-0 normal-text">Included Cleaning the sink</p>

                    </div>

                </div>
                <div class="row px-0 mx-0 mb-2">

                    <div class="col-auto ps-1 img-arrow">

                        <img class="img-arrow" src="~/Images/right-arrow.png" alt="" width="22" height="22">
                    </div>
                    <div class="col-auto px-0">
                        <p class="my-0 normal-text">Included Cleaning the oven (outside)</p>

                    </div>

                </div>
                <div class="row px-0 mx-0 mb-2">

                    <div class="col-auto ps-1 img-arrow">

                        <img class="img-arrow" src="~/Images/right-arrow.png" alt="" width="22" height="22">
                    </div>
                    <div class="col-auto px-0">
                        <p class="my-0 normal-text">Included Cleaning the work surfaces</p>

                    </div>

                </div>
                <div class="row px-0 mx-0 mb-2">

                    <div class="col-auto ps-1 img-arrow">

                        <img src="~/Images/right-arrow.png" alt="" width="22" height="22">
                    </div>
                    <div class="col-auto px-0">
                        <p class="my-0 normal-text">Included Dust all accessible surfaces</p>

                    </div>

                </div>
                <div class="row px-0 mx-0 mb-2">

                    <div class="col-auto ps-1 img-arrow">

                        <img src="~/Images/right-arrow.png" alt="" width="22" height="22">
                    </div>
                    <div class="col-auto px-0">
                        <p class="my-0 normal-text">Included Clean all floor surfaces</p>

                    </div>

                </div>
                <div class="row px-0 mx-0 mb-2">

                    <div class="col-auto ps-1 img-arrow">

                        <img src="~/Images/right-arrow.png" alt="" width="22" height="22">
                    </div>
                    <div class="col-auto px-0">
                        <p class="my-0 normal-text">Included Take out garbage and recycling</p>

                    </div>

                </div>


            </div>

        </div>

    </div>
</section>

<!-- section 3 -->
<!-- section 4 -->

<section class="container-fluid" id="price-section4">

    <div class="row text-center row1">
        <p class="title m-0 p-0">Why Helperland</p>
    </div>

    <div class="row row2 justify-content-center">
        <div class="line"></div>
        <img class="px-0" id="seprator" src="~/Images/separator.png" alt="">
        <div class="line"></div>
    </div>

    <div class="row row3 justify-content-center">

        <div class="col best-col">
            <div class="row">
                <div class="bold-text ms-auto  al-end">Experienced and vetted professionals</div>
                <div class="normal-text ms-auto al-end div1">dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</div>
            </div>
            <div class="row m-top-14">
                <div class="bold-text ms-auto  al-end">Dedicated customer service</div>
                <div class="normal-text ms-auto al-end div2">to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information. you need.</div>
            </div>

        </div>

        <div class="col-lg-auto text-center">
            <img class="img-fluid best-img" src="~/Images/the-best-img-1.png" alt="">
        </div>

        <div class="col best-col">

            <div class="row">
                <div class="bold-text me-auto  ">Every cleaning is insured</div>
                <div class="normal-text me-auto div1">and seek to provide exceptional service and engage in proactive behavior. We‘d be happy to clean your homes.</div>
            </div>
            <div class="row m-top-14">
                <div class="bold-text me-auto  ">Secure online payment</div>
                <div class="normal-text me-auto div2">Payment is processed securely online. Customers pay safely online and manage the booking.</div>
            </div>

        </div>

    </div>

</section>


<section class="container-fluid" id="price-section5">

    <div class="row" id="row1">
        <partial name="_newLetter1Partial" />
    </div>

</section>
