
@{
    ViewData["Title"] = "service provider-Helperland";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section section1{
    <!-- service header 1 or section -->
    <section class="container-fluid px-0" id="service-section1">

        <form class="container row1 px-0" action="">

            <div class="row mx-0 sub-row1 text-center">
                <p class="p-0 m-0 title">Register Now!</p>
            </div>

            <div class="row mx-0 service-input-row get-mt-15">
                <input type="text" class="form-control service-input" id="" placeholder="First Name">
            </div>

            <div class="row mx-0 service-input-row get-mt-15">
                <input type="text" class="form-control service-input" id="" placeholder="Last name">
            </div>

            <div class="row mx-0 service-input-row get-mt-15">
                <input type="email" class="form-control service-input" id="" placeholder="Email Addresse">
            </div>

            <div class="mx-0 service-input-row get-mt-15 input-group">
                <div class="input-group-prepend br-none">
                    <div class="input-group-text fm-text service-input br-none">+46</div>
                </div>
                <input style="border-left-width: 0px;" type="text" class="form-control fm-input service-input"
                       id="inlineFormInputGroup" placeholder="Phone Number">
            </div>

            <div class="row mx-0 service-input-row get-mt-15">
                <input type="password" class="form-control service-input" id="" placeholder="Password">
            </div>

            <div class="row mx-0 service-input-row get-mt-15">
                <input type="password" class="form-control service-input" id="" placeholder="Confirm Password">
            </div>

            <div class="row mx-0 service-input-row get-mt-15">

                <div class="col-1 ps-0">
                    <input class="form-check-input m-0 px-0 service-check-input" type="checkbox" value=""
                           id="flexCheckDefault">
                </div>
                <div class="col-11 px-0 ">
                    <p class="text mb-0" for="flexCheckDefault">
                        Send me newsletters from Helperland
                    </p>
                </div>
            </div>

            <div class="row mx-0 service-input-row mt-2">

                <div class="col-1 ps-0">
                    <input class="form-check-input m-0 px-0 service-check-input" type="checkbox" value=""
                           id="flexCheckDefault">
                </div>
                <div class="col-11 px-0 ">
                    <p class="text mb-0" for="flexCheckDefault">
                        I accept <a href="#">terms and conditions</a> & <a href="">privacy policy</a>
                    </p>
                </div>
            </div>

            <div class="row mx-0 service-input-row btn-row justify-content-center">
                <button class="btn btn-primary ">
                    Get Started<img class="ms-2" src="Images/arrow-white.png" alt=""
                                    width="30">
                </button>
            </div>


        </form>

        <div class="row mx-0 row2 justify-content-center">
            <a class="px-0" href="#service-section2"> <img src="~/Images/group-18.png" alt="" width="40" height="40"></a>
        </div>

    </section>
    <!-- service header 1 or section -->
}


<!-- section 2 -->

<section class="container-fluid px-0" id="service-section2">

    @*<img class="blog-left" id="service-blog-left" src="Images/blog-left-bg.png" alt="" srcset="">*@
    <img class="blog-left" id="service-blog-left" src="~/Images/blog-left-bg.png" alt="" srcset="">
    <img class="blog-right" id="service-blog-right" src="~/Images/blog-right-bg.png" alt="" srcset="">

    <div class="row text-center row1 mx-0">
        <p class="titles m-0 p-0">How it works</p>
    </div>

    <div class="row row-2 px-0 mx-0 justify-content-center">
        <div class="col col-md-10 col-lg-8 col-xl-6">

            <div class="container-fluid px-0">
                <div class="row mx-0">

                    <div class=" col-12 col-sm-6 px-0 order-2 order-sm-1 text-center text-sm-start">

                        <div class="row mx-0 sub-row1">
                            <p class="m-0 p-0 subtitle">Register youself</p>
                        </div>

                        <div class="row mx-0 sub-row2">
                            <p class="m-0 p-0 text">
                                Provide your basic information to register yourself as a service
                                provider.
                            </p>
                        </div>

                        <div class="row mx-0 sub-row3">
                            <a class="mm-0 p-0 text" href="#">
                                Read more <img class="ms-2" src="~/Images/shape-2.png"
                                               alt="">
                            </a>
                        </div>

                    </div>

                    <div class="col-12 col-sm-6 px-0 service-ph order-1 order-sm-2">
                        <img class="d-block ms-auto me-sm-0 me-auto" src="~/Images/group-25.png" alt="" width="260"
                             height="260">
                    </div>

                </div>
            </div>


            <div class="container-fluid px-0 give-mt-20">
                <div class="row mx-0">

                    <div class="col-12 col-sm-6 px-0 service-ph">
                        <img class="d-block me-auto ms-sm-0 ms-auto" src="~/Images/group-26.png" alt="" width="260"
                             height="260">
                    </div>

                    <div class=" col-12 col-sm-6 px-0 text-center text-sm-start">

                        <div class="row mx-0 sub-row1">
                            <p class="m-0 p-0 subtitle">Get service requests</p>
                        </div>

                        <div class="row mx-0 sub-row2">
                            <p class="m-0 p-0 text">
                                You will get service requests from customes depend on service
                                area and profile.
                            </p>
                        </div>

                        <div class="row mx-0 sub-row3">
                            <a class="mm-0 p-0 text" href="#">
                                Read more <img class="ms-2" src="~/Images/shape-2.png"
                                               alt="">
                            </a>
                        </div>

                    </div>

                </div>
            </div>

            <div class="container-fluid px-0 give-mt-20">
                <div class="row mx-0">

                    <div class=" col-12 col-sm-6 px-0 order-2 order-sm-1 text-center text-sm-start">

                        <div class="row mx-0 sub-row1">
                            <p class="m-0 p-0 subtitle">Complete service</p>
                        </div>

                        <div class="row mx-0 sub-row2">
                            <p class="m-0 p-0 text">
                                Accept service requests from your customers and complete your
                                work.
                            </p>
                        </div>

                        <div class="row mx-0 sub-row3">
                            <a class="mm-0 p-0 text" href="#">
                                Read more <img class="ms-2" src="~/Images/shape-2.png"
                                               alt="">
                            </a>
                        </div>

                    </div>

                    <div class="col-12 col-sm-6 px-0 service-ph order-1 order-sm-2">
                        <img class="d-block ms-auto me-sm-0 me-auto" src="~/Images/group-27.png" alt="" width="260"
                             height="260">
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="row row-3 px-0 mx-0 newsletter-section" id="">

        <div class="row row1 text-center">
            <p class="title m-0">GET OUR NEWSLETTER</p>
        </div>
        <div class="row row2">
            <form class="d-sm-flex justify-content-center" action="">
                <div class="email-letter-input d-block d-sm-inline-block mb-2 mb-sm-0">
                    <input class="form-control mx-auto" type="email" name="" id="" placeholder="YOUR EMAIL">
                </div>
                <div class="email-letter-submit d-block d-sm-inline-block">
                    <button class="btn d-block d-sm-inline-block mx-auto" type="submit">Submit</button>
                </div>
            </form>

        </div>
    </div>

</section>

<!-- section 2 -->
