@model ServiceRequestAddress

@{
    List<UserAddress> addressess = null;
    if (ViewBag.addresses != null)
    {

        addressess = new List<UserAddress>(ViewBag.addresses);
    }

}
<div id="holdAddAddressForm" class="contianer mt-3 px-0 w-100">

</div>
<form class="contianer px-0 w-100" method="post" asp-controller="BookService" asp-action="TakeAddressDetials" data-ajax="true" data-ajax-success="tabThreeSuccess" data-ajax-update="#service-payment">

    <div class="row row1 mx-0 mb-2">
        <p class="mb-1 px-0 text-bold fs-16">
            Enter your contact details, so we can serve
            you in better way!
        </p>
    </div>

    <div class="row row-1 mx-0">
        <span asp-validation-for="UserAddressId" class="danger"></span>
        <ul class="address-picker p-0 m-0">
            @if (addressess != null)
            {

                @foreach (UserAddress address in addressess)
                {
                    string add = address.AddressLine1 + " " + address.AddressLine2 + ", " + address.City + " " + address.PostalCode;

                    <li class="m-0 p-0">
                        <label for="@address.AddressId" class="d-block">
                            <input asp-for="UserAddressId" id="@address.AddressId" type="radio" class="form-input-check " name="UserAddressId" value="@address.AddressId">
                            <span class="d-inline-block">

                                <span class="text-regular address-block d-block">
                                    <b>Address:</b>
                                    @add
                                </span>
                                <span class="text-regular address-block d-block">
                                    <b>Phone:</b>
                                    @address.Mobile
                                </span>

                            </span>
                            <span class="radio-pointer">

                            </span>
                        </label>
                    </li>
                }
            }



        </ul>

    </div>

    <div id="AddAddressButton" class="row row2 mx-0">

        <button class="btn btn-rounded btna text-bold fs-16" id="addAddressForm" onclick="showAddAddressPartial()">
            + Add New Address
        </button>

    </div>





    <div class="form-check row3">
        <input class="form-check-input " type="checkbox" value="" id="have-pet">
        <label class="form-check-label text-regular fs-16 mt-1 ms-1" for="have-pet">
            Send invoice on this address
        </label>
    </div>

    <div class="row row4 mx-0 mb-0">
        <button class="btn btn-rounded btns ms-auto fs-20" type="submit">Continue</button>
    </div>



</form>

@*<div><strong>Your Favorite Service providers</strong></div>
<hr class="mb-2">
<div>You can choose your fevorite service provider from the below list</div>
<div class="row">
    <div class="col-12 m-4">
        <div class="fevorite-service-cap mb-1"></div>
        <div class="mb-2" style="font-size: 18px;">
            <strong>Sandip patel</strong>
        </div>
        <button id="select-btn" type="submit" class="fevorite-service-select-btn"
                name="Select" value="Select">
            Select
        </button>
    </div>
</div>*@


