@model FilterServices

<div class="mx-4 content-holder">

    <div class="row mx-0 row1 justify-content-between">
        <div class="col-auto">
            <p class="text mb-0">User Managment</p>

        </div>
        <div class="col-auto px-0">
            <button class="btn" id="add-new-user"><img class="me-1" src="~/Images/add.png" alt=""> Add New User</button>
        </div>
    </div>

    <div class="row mx-0 row2">

        <form class="row" method="post" data-ajax="true" data-ajax-update="#user-holder" asp-controller="Admin" asp-action="FilterUser" data-ajax-failure="UserFail">

            <select asp-for="UserId" class="form-select ms-2" aria-label="Default select example" asp-items="@ViewBag.userName"
                    id="customer-name">
            </select>

            <select asp-for="UserTypeId" class="form-select ms-2" aria-label="Default select example" id="user-role">
                <option value="0">User Type</option>
                <option value="1">Customer</option>
                <option value="2">Service Provider</option>
                <option value="3">Admin</option>
            </select>



            <div class="input-group d-flex w-auto p-0 ms-2" id="phone-number-body">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="country-code">+49</span>
                </div>
                <input asp-for="Mobile" class="form-control" type="text" id="phone-number"
                       placeholder="Phone Numer">
            </div>

            <input asp-for="PostalCode" class="form-control ms-2" type="text" placeholder="Postal Code" id="postal-code">

            <input asp-for="Email" class="form-control ms-2" type="text" placeholder="Email" id="Email-id">

            <input asp-for="FromDate" type="text" class="form-control ms-2" id="from-date" placeholder="From date"
                   onfocus="(this.type='date')">



            <input asp-for="ToDate" type="text" class="form-control ms-2" id="to-date" placeholder="To date"
                   onfocus="(this.type='date')">

            <button class="btn ms-2 search-button" style="color: white;" id="Search">
                Search
            </button>

            <button class="btn ms-2 search-button" id="clear" type="reset">
                Clear
            </button>

            <span asp-validation-for="Mobile" class="danger d-block"></span>
            <span asp-validation-for="Email" class="danger d-block"></span>
            <span asp-validation-for="PostalCode" class="danger d-block"></span>
            <span id="UsertodateError" asp-validation-for="ToDate" class="danger d-block"></span>
        </form>

    </div>

    <div id="user-holder">

    </div>

    <div class="row row5 mx-0">

        <p class="text mb-0 ps-0">©2018 Helperland. All rights reserved.</p>

    </div>

</div>
