<div class="">

    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link active" href="javascript:;" data-bs-toggle="tab" id="Mydetails">
            <span class="first-span">My Details</span>
            <span class="icon details"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:;" data-bs-toggle="tab" id="Changepassword">
                <span class="first-span">Change Password</span>
                <span class="icon password"></span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-target="#tab3" data-bs-toggle="tab" disabled>
                <span class="first-span" style="color: white;"> .</span>
                <span class="icon password"></span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-target="#tab3" data-bs-toggle="tab" disabled>
                <span class="first-span" style="color: white;"> .</span>
                <span class="icon password"></span>
            </a>

        </li>
    </ul>

    <div class="tab-content">

        <div class="" id="content-mydetails">

        </div>
    </div>

</div>
