<!-- footer section -->

<footer class="container-fluid px-0 footer-section" id="">
    <div class="row row1 m-0 ">
        <div class="div1 px-0">
            <a href="">
                <img class="img-fluid" src="~/Images/white-logo-transparent-background.png" alt="" width="120"
                     height="92">
            </a>
        </div>

        <div class="row div2 justify-content-center px-0">
            <div class=" col-sm-6  col-lg-4 col-xl-auto text text-center"><a asp-controller="Home" asp-action="Index">HOME</a></div>
            <div class="col-sm-6 col-lg-4 col-xl-auto text text-center"><a asp-controller="Home" asp-action="AboutUs">ABOUT</a></div>
            <div class="col-sm-6 col-lg-4 col-xl-auto text text-center"><a href="#">TESTIMONIALS</a></div>
            <div class="col-sm-6  col-lg-4 col-xl-auto text text-center"><a asp-controller="Home" asp-action="Faq">FAQS</a></div>
            <div class="col-sm-6 col-lg-4 col-xl-auto text text-center"><a href="#">INSURANCE POLICY</a></div>
            <div class="col-sm-6 col-lg-4 col-xl-auto text text-center"><a href="#">IMPRESSUM</a></div>

        </div>

        <div class="div3">
            <a class="px-0 img1" href="">
                <img class="img-fluid" src="~/Images/ic-facebook.png" alt="" width="9" height="18">
            </a>
            <a class="mx-0 px-0" href="">
                <img class="img-fluid" src="~/Images/ic-instagram.png" alt="" width="20" height="20">
            </a>
        </div>
    </div>

    <div class="row row2 mx-0 px-0">
        <div class="line">
        </div>
    </div>

    <div class="row row3 mx-0 px-0 text-center">
        <p class="">
            ©2018 Helperland. All rights reserved.
            <a href="">Terms and Conditions </a> |
            <a href="">Privacy Policy</a>
        </p>
    </div>

</footer>

<!-- footer section -->