@model User
@using Microsoft.AspNetCore.Http;

<header class="wrapper" id="price-header">

    <!-- Sidebar -->
    <nav class="sidebar ">

        <div class="container-fluid px-0 navbar-nav-scroll">

            @if (Context.Session.GetString("isLoggedIn") != null)
            {
                <div class="row username mx-0">
                    <p class="px-0 mb-0 text">Welcome, <br> <b>@Context.Session.GetString("Name")</b></p>
                </div>

                @if (Context.Session.GetString("UserTypeId") =="2")
                {

                    <div class="row mx-0 login-tabs">

                        <ul class="px-0 nav nav-tabs">

                            <li class="nav-item">
                                <a class="text active dismiss" asp-controller="ServiceProvider" asp-action="Index">Dashboard</a>
                            </li>

                            <li class="nav-item">
                                <a class="text dismiss" asp-controller="ServiceProvider" asp-action="IndexWithCode" asp-route-id="2">
                                    New Service
                                    Requests
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="text dismiss" asp-controller="ServiceProvider" asp-action="IndexWithCode" asp-route-id="3">
                                    Upcoming
                                    Services
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="text dismiss" asp-controller="ServiceProvider" asp-action="IndexWithCode" asp-route-id="4">
                                    Service Schedule
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="text dismiss" asp-controller="ServiceProvider" asp-action="IndexWithCode" asp-route-id="5">
                                    Service History
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="text dismiss" asp-controller="ServiceProvider" asp-action="IndexWithCode" asp-route-id="6">
                                    My Ratings
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="text dismiss" asp-controller="ServiceProvider" asp-action="IndexWithCode" asp-route-id="7">
                                    Block Customer
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="text dismiss" asp-controller="ServiceProvider" asp-action="IndexWithCode" asp-route-id="8">
                                    My Setting
                                </a>

                            </li>

                            <li class="nav-item">
                                <a class="text dismiss" asp-controller="Home" asp-action="Logout">Logout</a>
                            </li>

                        </ul>

                    </div>
                }
                else if (Context.Session.GetString("UserTypeId") =="1")
                {

                    <div class="row mx-0 login-tabs">

                        <ul class="px-0 nav nav-tabs">

                            <li class="nav-item">
                                <a class="text active dismiss" asp-controller="Customer" asp-action="Index">Dashboard</a>
                            </li>

                            <li class="nav-item">
                                <a class="text dismiss" asp-controller="Customer" asp-action="IndexWithCode" asp-route-id="2">
                                    Service
                                    History
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="text dismiss" asp-controller="Customer" asp-action="IndexWithCode" asp-route-id="3">
                                    Service
                                    Schedule
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="text dismiss" asp-controller="Customer" asp-action="IndexWithCode" asp-route-id="4">Favourite Pros</a>
                            </li>

                            <li class="nav-item">

                                <a class="text dismiss"  asp-controller="Customer" asp-action="IndexWithCode" asp-route-id="5">My Setting</a>

                            </li>

                            <li class="nav-item">
                                <a class="text dismiss" asp-controller="Home" asp-action="Logout">Logout</a>
                            </li>

                        </ul>

                    </div>
                }
                else
                {

                }




            }

            <div class="row main-menu mx-0">

                <ul class="navbar-nav pe-0">
                    @if (Context.Session.GetString("isLoggedIn") == null || Context.Session.GetString("UserTypeId") == "1")
                    {
                        <li class="nav-item">
                            <a class="nav-link text dismiss" aria-current="page" asp-controller="BookService" asp-action="Index">
                                Book Now
                            </a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link text dismiss" aria-current="page" asp-controller="Home" asp-action="Price">
                            Price & Services
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text" aria-current="page" href="#">
                            Warrenty
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text" aria-current="page" href="#">
                            Blog
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text dismiss" aria-current="page" asp-controller="Home" asp-action="ContactUs">
                            Contact
                        </a>
                    </li>

                    @if (Context.Session.GetString("isLoggedIn") == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text dismiss" aria-current="page" data-bs-toggle="modal" data-bs-target="#loginModal">
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text dismiss" aria-current="page" asp-controller="Home" asp-action="ServiceProvider">
                                Become a Helper
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <div class="row main-menu mx-0">

                <ul class="navbar-nav pe-0">

                    <li class="nav-item">
                        <a class="nav-link dismiss d-inline-block " aria-current="page" href="price.html">
                            <img class="social" src="~/Images/ic-facebook.png" alt="">
                        </a>

                        <a class="nav-link dismiss d-inline-block" aria-current="page" href="price.html">
                            <img class="social" src="~/Images/ic-instagram.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>

        </div>


    </nav>

    <!-- Page Content -->
    <div class="content">

        <div class="container-fluid navbar2 px-0 " id="temp-header">

            <nav class="navbar navbar-expand-lg">

                <div class="container-fluid row1 d-flex">

                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img class="brand-logo" src="~/Images/white-logo-transparent-background.png" alt="" width="73"
                             height="54">
                    </a>

                    <ul class="navbar-nav mb-1 ms-auto me-3 notification d-none">
                        <li class="nav-item btn normal-2 side-border-visible">

                            <a class="nav-link px-0 position-relative" aria-current="page" href="#">

                                <img src="~/Images/icon-notification.png" alt="" width="27" height="30">
                                <span class="position-absolute translate-middle badge bg-danger">
                                    2
                                </span>
                            </a>
                        </li>
                    </ul>

                    <button class="navbar-toggler btn py-0 mt-0 sidebarCollapse ms-4" type="button">
                        <i class="bi bi-list bi-2x text-white ham"></i>
                    </button>

                    <ul class="navbar-nav mb-2 mb-lg-0 menu w-auto">

                        @if (Context.Session.GetString("isLoggedIn") == null || Context.Session.GetString("UserTypeId") == "1")
                        {
                            <li class="nav-item btn pas">

                                <a class="nav-link  px-0" aria-current="page" asp-controller="BookService" asp-action="Index">
                                    Book a cleaner
                                </a>
                            </li>
                        }
                        <li class="nav-item btn pas d-none">
                            <a class="nav-link px-0" aria-current="page" asp-controller="Home" asp-action="Price">Price & services</a>
                        </li>

                        <li class="nav-item btn normal ">
                            <a class="nav-link px-0" aria-current="page" asp-controller="Home" asp-action="Price">Price & services</a>
                        </li>

                        <li class="nav-item btn normal ">
                            <a class="nav-link px-0" aria-current="page" href="#">Warranty</a>
                        </li>

                        <li class="nav-item btn normal">
                            <a class="nav-link px-0" aria-current="page" href="#">Blog</a>
                        </li>

                        <li class="nav-item btn normal">
                            <a class="nav-link px-0" aria-current="page" asp-controller="Home" asp-action="ContactUs">Contact</a>
                        </li>
                        @if (Context.Session.GetString("isLoggedIn") != null)
                        {
                            <li class="nav-item btn normal-2 side-border-visible">

                                <a class="nav-link px-0 position-relative" aria-current="page" href="#">

                                    <img src="~/Images/icon-notification.png" alt="" width="27" height="30">
                                    <span class="position-absolute translate-middle badge bg-danger">
                                        2
                                    </span>
                                </a>
                            </li>

                            <li class="nav-item btn normal-2 pt-0">
                                <a class="nav-link px-0 d-inline" aria-current="page" href="#">
                                    <img class="img-fluid"
                                         src="~/Images/user-icon.png" alt="" width="36" height="36">
                                </a>
                                <div class="dropdown d-inline">
                                    <button type="button" class="btn p-0" data-bs-toggle="dropdown">
                                        <img src="~/Images/menu-down.png" alt="">
                                    </button>
                                    <div class="dropdown-menu">

                                        <ul class="nav nab-tabs">


                                            <li class="row nav-item d-block w-100 py-1">
                                                <p class="text mb-0">welcome,<br> <b>@Context.Session.GetString("Name")</b></p>
                                            </li>


                                            <li class="nav-item d-block w-100 py-1">

                                                @if (Context.Session.GetString("UserTypeId") == "1")
                                                {
                                                    <a class="dropdown-text active dismiss" asp-controller="Customer" asp-action="Index">Dashboard</a>
                                                }

                                                else if (Context.Session.GetString("UserTypeId") == "2")
                                                {
                                                    <a class="dropdown-text active dismiss" asp-controller="ServiceProvider" asp-action="Index">Dashboard</a>
                                                }
                                                else
                                                {
                                                    <a class="dropdown-text active dismiss" data-bs-toggle="tab"
                                                       href="#Service-provider-Dashboard">Dashboard</a>
                                                }

                                            </li>

                                            <li class="nav-item d-block w-100 py-1">
                                                @if (Context.Session.GetString("UserTypeId") == "1")
                                                {
                                                    <a class="dropdown-text dismiss" asp-controller="Customer" asp-action="IndexWithCode" asp-route-id="5">My Setting</a>
                                                }
                                                else if (Context.Session.GetString("UserTypeId") == "2")
                                                {
                                                    <a class="dropdown-text dismiss" asp-controller="ServiceProvider" asp-action="IndexWithCode" asp-route-id="8">My Setting</a>
                                                }
                                            </li>

                                            <li class="nav-item d-block w-100 py-1">
                                                <a class="dropdown-text dismiss" asp-controller="Home" asp-action="Logout">Logout</a>
                                            </li>

                                        </ul>
                                    </div>

                                </div>

                            </li>
                        }
                        else
                        {
                            <li class="nav-item btn book-now">
                                <a class="nav-link login px-0" aria-current="page" asp-controller="Home" asp-action="Index" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
                            </li>

                            <li class="nav-item btn book-now">
                                <a class="nav-link px-0" asp-controller="Home" asp-action="ServiceProvider">Become a Helper</a>
                            </li>
                        }
                    </ul>


                </div>
            </nav>

            <!-- </div> -->
        </div>
    </div>

    <div class="overlay"></div>

</header>


<partial name="_ModalPartial"/>
