<div class=" col-6 col-sm-2 col-md-1 order-2 order-sm-1">
    <div id="foma-container">
        <a href="#home_section">
            <img class="img-fluid" src="~/Images/forma-5.png" alt="" id="foma-5">
        </a>
    </div>
</div>

<div class="col-md-10 col-sm-8 order-1 order-sm-2">
    <div class="container-fluid mx-0 px-0">

        <div class="row mx-0 px-0 text-center mb-2">
            <p class="title mb-1">GET OUR NEWSLETTER</p>
        </div>

        <div class="row justify-content-center">

            <div class="col-sm-auto p-0 newletter-input">
                <input class="form-control" type="email" name="" id="" placeholder="YOUR EMAIL">
            </div>

            <div class="col-sm-1 py-2 py-sm-0 newletter-input">
                <button class="btn" type="submit">Submit</button>
            </div>

        </div>

    </div>

</div>

<div class="col-6 col-sm-2 col-md-1 order-2 order-sm-3 text-center mb-2 mb-sm-0">
    <img class="img-fluid" src="~/Images/layer-598.png" height="63" width="63" alt="">
</div>
