<section class="container-fluid newsletter-section" id="faq-section4">
    <div class="row row1 text-center">
        <p class="title m-0">GET OUR NEWSLETTER</p>
    </div>
    <div class="row row2">
        <form class="d-sm-flex justify-content-center" action="">
            <div class="email-letter-input d-block d-sm-inline-block mb-2 mb-sm-0">
                <input class="form-control mx-auto" type="email" name="" id="" placeholder="YOUR EMAIL">
            </div>
            <div class="email-letter-submit d-block d-sm-inline-block">
                <button class="btn d-block d-sm-inline-block mx-auto" type="submit">Submit</button>
            </div>
        </form>

    </div>
</section>